/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #4D4D4D;
    background-color: white;
    margin: 0 auto;
    max-width: 1024px;
    
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #4D4D4D;
}

p {
    font-weight: 300;
    line-height: 1.5;
    color: gray;
}

img {
    max-width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    height: 100px;
    padding: 0 20px;
    background-color: #D1DAD1;
}

/* ================================= 
  Base Layout Styles
==================================== */

header,
#contact {
    background-color: #D1DAD1;
}

nav {
    font-family: "Roboto", Arial, Verdana;
    letter-spacing: .05em;
    padding: 25px;
}

h1 a{
    text-transform: none;    
}

.link-text:hover {
    color: #61a3ff;
    transition: .3s;
} 


.top-nav, .top-nav li {
    width: 100%;
}

.top-nav {
    margin-top: 30px;
}

.top-nav li {
    padding: 3px 0;
    margin: 5px auto;
    background-color: #fff;
}

.top-nav a,
.main-title {
    text-transform: uppercase;
}

.profile-img {
    margin: 1rem auto;
    max-width: 70%;
}

.profile-p {
    margin: 1rem 1rem 3rem;
}

.main-title {
    padding: 4rem 3rem 2rem;
}

.container {
    max-width: 1100px;
    padding: 10px;
}

.col {
    margin: 10px;
    min-height: 250px;
    padding-top: 5px;
}

.col h3 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-weight: 400;
}

.col p {
    padding: 0 0.5rem 1.5rem;
}

.col:last-child {
    border-bottom: 5px dotted gray;
    padding-bottom: 3rem;
}

#skills {
    padding-top: 3rem;
}

.skills-copy-right {
    padding: 1rem 2rem 3rem;
}

.skills-copy-left {
    padding: 1rem 2rem;
}

.skills-img {
    padding: 0.5rem;
}

.contact-space {
    margin-left: 1rem;
    font-weight: 500;
}
#contact h3{
    padding: 4rem 3rem 2rem;
    text-transform: uppercase;
}

#contact p {
    padding: 1rem;
}

#contact hr {
    border: none;
    margin: 3rem auto 0;
    width: 90%;
    height: 2px;
    background-color: rgba(128, 128, 128, .25);
}

.full {
    display: none;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
    
    /* link hover animations credit to Eina O ( https://codepen.io/thelittleblacksmith/pen/zXNVvY )  */

    .hover-container {
        text-align: center;
        margin-bottom: 2em;
    }
    
    .link-text {
        border-bottom: 3px solid #ff8cbc;
        transition: all 0.25s linear;
        position: relative;
    }
    
    .link-text:before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: #61a3ff;
        position: absolute;
        left: 0;
        bottom: -3px; 
        transform-origin: left; 
        transform: scale(0);
        transition: 0.25s linear;
    }
    
    .link-text:hover:before {
        transform: scale(1);
    }

    .top-title {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .top-nav {
        margin-top: 0;
    }

    .top-nav li {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        background-color: transparent;
    }

    .top-nav li:last-child {
        margin-right: 0;
    }

    .profile {
        display: flex;
    }

    .profile-img {
        order: 1;
        width: 40%;
        margin-right: 2rem;
        margin-bottom: 4rem;
    }

    .profile-p {
        margin-left: 2rem;
        font-size: 1.25em;
        text-align: left;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex-basis: calc(50% - 20px);
    }

    .col p {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .col:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }

    .contact-main {
        margin: 0 auto 1rem;
        width: 70%;
    }

    .skills-copy-left {
        padding-bottom: 3rem;
    }

    .skills-copy-left p {
        max-width: 80%;
        margin: 0 auto;
    }

    .skills-copy-right {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .skills-img {
       padding: 0 1rem 3rem;
    }

    #contact p {
        font-size: 1.25em
    }

    .top {
        display: none;
    }

    .full {
        display: inline-block;
        margin-left: 20px;
    }
}

@media (min-width: 1024px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
        margin: 10px 40px;
    }

    footer {
        padding: 0 50px;
    }

    .top-nav,
    .top-nav li {
        width: initial;
        margin-bottom: 0;
    }

    .profile-img {
        padding: 0 30px;
    }

    .main-container {
        padding: 0 2rem;
        background-color: #D1DAD1;
    }

    .main-title,
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: white;
    }

    .col {
        flex-basis: calc(33.333% - 20px);
    }

    .contact-main {
        width: 60%;
    }

}